In [2]:
import pandas as pd

In [5]:
datasetbws = pd.read_excel('./pandas/Urnas-com-Bolsonaro-com-até-10-votos-2o-turno.xlsx', index_col=0)

In [123]:

datasetbws.rename(columns={'Sum(P_BOLSO)':'SOMA_BOLSO'}, inplace=True)
datasetbws.rename(columns={'Sum(P_LULA)':'SOMA_LULA'}, inplace=True)
datasetbws.rename(columns={'Sum(P_BOLSO)-Sum(P_LULA)':'BOLSO_MENOS_LULA'}, inplace=True)
datasetbws

,UF,NM_MUNICIPIO,LOG_MODELO,SOMA_BOLSO,SOMA_LULA,Aptos,Aptos/Mun,BOLSO_MENOS_LULA
ID_SECAO,,,,,,,,
AM_2178_15_43,AM,BORBA,UE2015,4,422,489,0,-418
AM_98370_69_16,AM,ITAMARATI,UE2010,3,412,500,0,-409
MT_90280_28_158,MT,CONFRESA,UE2009,0,383,401,0,-383
AM_2135_20_88,AM,BENJAMIN CONSTANT,UE2010,4,370,461,0,-366
BA_38075_121_259,BA,PORTO SEGURO,UE2013,7,362,400,0,-355
...,...,...,...,...,...,...,...,...
SP_70971_268_328,SP,SÃO JOSÉ DO RIO PRETO,UE2009,10,3,59,0,7
ZZ_30333_1_353,ZZ,PORTO PRÍNCIPE,REPOSICAO,3,2,44,0,1
ZZ_29874_1_146,ZZ,KINSHASA,REPOSICAO,9,1,33,0,8
ZZ_29505_1_78,ZZ,CARACAS,REPOSICAO,5,0,564,0,5
ZZ_29505_1_79,ZZ,CARACAS,REPOSICAO,1,0,678,0,1

LEITURA DO BRAZIL WAS STOLEN

In [130]:
datasetbws_am = datasetbws.query('UF == "AM" and SOMA_BOLSO <1')
datasetbws_am.head(30)

,UF,NM_MUNICIPIO,LOG_MODELO,SOMA_BOLSO,SOMA_LULA,Aptos,Aptos/Mun,BOLSO_MENOS_LULA
ID_SECAO,,,,,,,,
AM_2755_22_86,AM,SÃO PAULO DE OLIVENÇA,UE2013,0,350,400,0,-350
AM_2755_22_80,AM,SÃO PAULO DE OLIVENÇA,UE2013,0,347,399,0,-347
AM_2739_47_10,AM,SANTO ANTÔNIO DO IÇÁ,UE2013,0,303,425,0,-303
AM_2755_22_44,AM,SÃO PAULO DE OLIVENÇA,UE2013,0,277,354,0,-277
AM_2836_19_13,AM,SÃO GABRIEL DA CACHOEIRA,UE2015,0,239,289,0,-239
AM_2119_26_63,AM,BARREIRINHA,UE2011,0,237,313,0,-237
AM_2836_19_25,AM,SÃO GABRIEL DA CACHOEIRA,UE2015,0,207,361,0,-207
AM_2836_19_65,AM,SÃO GABRIEL DA CACHOEIRA,UE2015,0,204,319,0,-204
AM_2372_30_22,AM,SANTA ISABEL DO RIO NEGRO,UE2015,0,196,350,0,-196
AM_2836_19_92,AM,SÃO GABRIEL DA CACHOEIRA,UE2015,0,195,314,0,-195
AM_2054_42_29,AM,ATALAIA DO NORTE,UE2010,0,175,335,0,-175
AM_2836_19_48,AM,SÃO GABRIEL DA CACHOEIRA,REPOSICAO,0,166,297,0,-166
AM_2836_19_87,AM,SÃO GABRIEL DA CACHOEIRA,REPOSICAO,0,162,220,0,-162
AM_2372_30_26,AM,SANTA ISABEL DO RIO NEGRO,UE2015,0,156,332,0,-156
AM_98477_36_98,AM,TABATINGA,UE2010,0,146,166,0,-146
AM_2054_42_25,AM,ATALAIA DO NORTE,UE2010,0,138,194,0,-138
AM_2836_19_59,AM,SÃO GABRIEL DA CACHOEIRA,UE2015,0,135,211,0,-135
AM_98477_36_100,AM,TABATINGA,UE2010,0,132,161,0,-132
AM_2054_42_28,AM,ATALAIA DO NORTE,UE2010,0,127,197,0,-127
AM_2054_42_37,AM,ATALAIA DO NORTE,UE2010,0,107,125,0,-107
AM_2399_45_52,AM,IPIXUNA,UE2015,0,94,382,0,-94
AM_2216_21_96,AM,CARAUARI,UE2015,0,91,102,0,-91
AM_2410_3_158,AM,ITACOATIARA,UE2009,0,37,61,0,-37

TSE - BOLETIM DE URNA 2 turno PRESIDENTE - AMAZONAS

In [125]:
datasetbu = pd.read_csv('./pandas/bweb_2t_AM_311020221535.csv', encoding="latin-1", sep = ';')

In [206]:
municipio = 'CARAUARI'
nr_secao = 96

In [207]:
datasetbu_municipio = datasetbu.query('NM_MUNICIPIO == "'+municipio+'" and DS_CARGO_PERGUNTA == "Presidente"')
datasetbu_municipio_simples = datasetbu_municipio[['NM_MUNICIPIO', 'NR_ZONA', 'NR_SECAO', 'NM_VOTAVEL','QT_VOTOS']].groupby(['NM_MUNICIPIO', 'NR_ZONA', 'NR_SECAO',  'NM_VOTAVEL']).sum()

In [208]:
datasetbu_municipio_simples.query('NR_SECAO == '+str(nr_secao)+'')

                                          QT_VOTOS
NM_MUNICIPIO NR_ZONA NR_SECAO NM_VOTAVEL
CARAUARI     21      96       LULA              91
                              Nulo               1

TSE - BOLETIM DE URNA 2018 - PRESIDENTE - AMAZONAS

In [209]:
datasetbu_2018 = pd.read_csv('./pandas/bweb_2t_AM_301020181745.csv', encoding="latin-1", sep = ';')

In [210]:
datasetbu_2018_municipio = datasetbu_2018.query('NM_MUNICIPIO == "'+municipio+'" and DS_CARGO_PERGUNTA == "Presidente"')
datasetbu_2018_municipio_simples = datasetbu_2018_municipio[['NM_MUNICIPIO', 'NR_ZONA', 'NR_SECAO', 'NM_VOTAVEL','QT_VOTOS']].groupby(['NM_MUNICIPIO', 'NR_ZONA', 'NR_SECAO',  'NM_VOTAVEL']).sum()
datasetbu_2018_municipio[['NM_MUNICIPIO', 'NR_ZONA', 'NR_SECAO']]
datasetbu_2018_municipio_simples.query('NR_SECAO == '+str(nr_secao)+'')

Empty DataFrame
Columns: [QT_VOTOS]
Index: []

In [213]:
datasetbu_2018_municipio['NR_LOCAL_VOTACAO'].unique()

array([1015, 1090, 1384, 1031, 1120, 1023, 1392, 1040, 1066, 1201, 1210,
       1252, 1244, 1236, 1295, 1317, 1341, 1350, 1376, 1368, 1406])

In [212]:
datasetbu_2018.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_PLEITO', 'DT_PLEITO',
       'NR_TURNO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO', 'SG_ UF',
       'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_ZONA', 'NR_SECAO',
       'NR_LOCAL_VOTACAO', 'CD_CARGO_PERGUNTA', 'DS_CARGO_PERGUNTA',
       'NR_PARTIDO', 'SG_PARTIDO', 'NM_PARTIDO', 'QT_APTOS',
       'QT_COMPARECIMENTO', 'QT_ABSTENCOES', 'CD_TIPO_URNA', 'DS_TIPO_URNA',
       'CD_TIPO_VOTAVEL', 'DS_TIPO_VOTAVEL', 'NR_VOTAVEL', 'NM_VOTAVEL',
       'QT_VOTOS', 'NR_URNA_EFETIVADA', 'CD_CARGA_1_URNA_EFETIVADA',
       'CD_CARGA_2_URNA_EFETIVADA', 'CD_FLASCARD_URNA_EFETIVADA',
       'DT_CARGA_URNA_EFETIVADA', 'DS_CARGO_PERGUNTA_SECAO', 'DS_AGREGADAS',
       'DT_ABERTURA', 'DT_ENCERRAMENTO', 'QT_ELEITORES_BIOMETRIA_NH',
       'NR_JUNTA_APURADORA', 'NR_TURMA_APURADORA'],
      dtype='object')