In [3]:
import pandas as pd

In [4]:
flags = pd.read_csv("/Users/mauriciobrandalise/Projects/livro_pandasPy/pandas/flags.csv")

In [5]:
flags[['name', 'population']]

               name  population
0       Afghanistan          16
1           Albania           3
2           Algeria          20
3    American-Samoa           0
4           Andorra           0
..              ...         ...
189   Western-Samoa           0
190      Yugoslavia          22
191           Zaire          28
192          Zambia           6
193        Zimbabwe           8

[194 rows x 2 columns]

In [6]:
flags.tail()

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [7]:
verde = flags['green']

In [8]:
verde

0      1
1      0
2      1
3      0
4      0
      ..
189    0
190    0
191    1
192    1
193    1
Name: green, Length: 194, dtype: int64

In [9]:
vermelho = flags['red']

In [10]:
azul = flags['blue']
flags.iloc[187] #procura index i

name          Venezuela
landmass              2
zone                  4
area                912
population           15
language              2
religion              0
bars                  0
stripes               3
colours               7
red                   1
green                 1
blue                  1
gold                  1
white                 1
black                 1
orange                1
mainhue             red
circles               0
crosses               0
saltires              0
quarters              0
sunstars              7
crescent              0
triangle              0
icon                  1
animate               1
text                  0
topleft            gold
botright            red
Name: 187, dtype: object

In [11]:
amarelo = flags['gold']
branco = flags['white']

In [12]:
soma = verde + amarelo + azul + branco
somaVerdeBranco = verde + branco
temVerdeBranco = (soma==2)

In [13]:
tem_todas = (soma==4)

In [14]:
print('países com verde, amarelo, azul e branco:')
print(flags[tem_todas.values]['name'])

países com verde, amarelo, azul e branco:
17                       Belize
19                      Bermuda
23                       Brazil
24         British-Virgin-Isles
26                     Bulgaria
33               Cayman-Islands
34     Central-African-Republic
48                     Dominica
56           Falklands-Malvinas
57                         Fiji
71                         Guam
78                    Hong-Kong
116                  Montserrat
135                     Parguay
139                    Portugal
142                     Romania
151             Soloman-Islands
158                   St-Helena
161                  St-Vincent
176         Turks-Cocos-Islands
182             US-Virgin-Isles
187                   Venezuela
Name: name, dtype: object

In [15]:
flags.query('green>0')

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
14,Bangladesh,5,1,143,90,6,2,0,0,2,...,0,0,0,0,0,0,0,0,green,green
17,Belize,1,4,23,0,1,1,0,2,8,...,0,0,0,0,0,1,1,1,red,red
18,Benin,4,1,113,3,3,5,0,0,2,...,0,0,1,0,0,0,0,0,green,green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Vanuatu,6,2,15,0,6,1,0,0,4,...,0,0,0,0,1,0,1,0,black,green
187,Venezuela,2,4,912,15,2,0,0,3,7,...,0,0,7,0,0,1,1,0,gold,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [16]:
print(flags[temVerdeBranco.values]['name'])

2            Algeria
4            Andorra
6           Anguilla
8          Argentina
10         Australia
           ...
183              USA
185          Vanuatu
186     Vatican-City
189    Western-Samoa
191            Zaire
Name: name, Length: 104, dtype: object

In [17]:
paises_low_territory = flags.query('area<10')

In [18]:
'''2. continente : código do continente.
1=América do Norte e América Central;
2=América do Sul;
3=Europa;
4=África;
5=Ásia'''

'2. continente : código do continente.\n1=América do Norte e América Central;\n2=América do Sul;\n3=Europa;\n4=África;\n5=Ásia'

In [19]:
paises_low_territory[['name','population']]

                     name  population
3          American-Samoa           0
4                 Andorra           0
6                Anguilla           0
7         Antigua-Barbuda           0
13                Bahrain           0
15               Barbados           0
19                Bermuda           0
24   British-Virgin-Isles           0
25                 Brunei           0
32     Cape-Verde-Islands           0
33         Cayman-Islands           0
39        Comorro-Islands           0
41           Cook-Islands           0
44                 Cyprus           1
48               Dominica           0
55                Faeroes           0
61       French-Polynesia           0
67              Gibraltar           0
70                Grenada           0
71                   Guam           0
78              Hong-Kong           5
94               Kiribati           0
101         Liechtenstein           0
102            Luxembourg           0
106       Maldive-Islands           0
108                 Malta           0
109              Marianas           0
111             Mauritius           1
113            Micronesia           0
114                Monaco           0
116            Montserrat           0
119                 Nauru           0
122  Netherlands-Antilles           0
127                  Niue           0
140           Puerto-Rico           3
144            San-Marino           0
145              Sao-Tome           0
148            Seychelles           0
150             Singapore           3
158             St-Helena           0
159        St-Kitts-Nevis           0
160              St-Lucia           0
161            St-Vincent           0
172                 Tonga           0
173       Trinidad-Tobago           1
176   Turks-Cocos-Islands           0
177                Tuvalu           0
182       US-Virgin-Isles           0
186          Vatican-City           0
189         Western-Samoa           0

In [20]:
d = {'continente': ["América do Norte e América Central", "América do Sul", "Europa", "África", "Ásia"]}
continentes = pd.DataFrame(data=d, index=[1, 2, 3, 4, 5])
continentes

                           continente
1  América do Norte e América Central
2                      América do Sul
3                              Europa
4                              África
5                                Ásia

In [21]:
pais_cont = paises_low_territory.set_index('landmass').join(continentes.set_index(continentes.index))

In [22]:
pais_cont = pais_cont[['name', 'continente']]
pais_cont

                   name                          continente
1              Anguilla  América do Norte e América Central
1       Antigua-Barbuda  América do Norte e América Central
1              Barbados  América do Norte e América Central
1               Bermuda  América do Norte e América Central
1  British-Virgin-Isles  América do Norte e América Central
1        Cayman-Islands  América do Norte e América Central
1              Dominica  América do Norte e América Central
1               Grenada  América do Norte e América Central
1            Montserrat  América do Norte e América Central
1  Netherlands-Antilles  América do Norte e América Central
1           Puerto-Rico  América do Norte e América Central
1        St-Kitts-Nevis  América do Norte e América Central
1              St-Lucia  América do Norte e América Central
1            St-Vincent  América do Norte e América Central
1   Turks-Cocos-Islands  América do Norte e América Central
1       US-Virgin-Isles  América do Norte e América Central
2       Trinidad-Tobago                      América do Sul
3               Andorra                              Europa
3                Cyprus                              Europa
3               Faeroes                              Europa
3             Gibraltar                              Europa
3         Liechtenstein                              Europa
3            Luxembourg                              Europa
3                 Malta                              Europa
3                Monaco                              Europa
3            San-Marino                              Europa
3          Vatican-City                              Europa
4    Cape-Verde-Islands                              África
4       Comorro-Islands                              África
4             Mauritius                              África
4              Sao-Tome                              África
4            Seychelles                              África
4             St-Helena                              África
5               Bahrain                                Ásia
5                Brunei                                Ásia
5             Hong-Kong                                Ásia
5       Maldive-Islands                                Ásia
5             Singapore                                Ásia
6        American-Samoa                                 NaN
6          Cook-Islands                                 NaN
6      French-Polynesia                                 NaN
6                  Guam                                 NaN
6              Kiribati                                 NaN
6              Marianas                                 NaN
6            Micronesia                                 NaN
6                 Nauru                                 NaN
6                  Niue                                 NaN
6                 Tonga                                 NaN
6                Tuvalu                                 NaN
6         Western-Samoa                                 NaN

In [23]:
print('oi')
import numpy as np

oi

In [24]:
flag_pop = flags[['name', 'population']]

In [25]:
flag_pop

               name  population
0       Afghanistan          16
1           Albania           3
2           Algeria          20
3    American-Samoa           0
4           Andorra           0
..              ...         ...
189   Western-Samoa           0
190      Yugoslavia          22
191           Zaire          28
192          Zambia           6
193        Zimbabwe           8

[194 rows x 2 columns]

In [26]:

def populacao(dataset, nome):
    for item in dataset.values(): #iterando
        print("oi")
        #result = item['population'] #/ (ano_atual - item['ano'])
        #print(result)

In [27]:
for item in flags:
  print(item)

name
landmass
zone
area
population
language
religion
bars
stripes
colours
red
green
blue
gold
white
black
orange
mainhue
circles
crosses
saltires
quarters
sunstars
crescent
triangle
icon
animate
text
topleft
botright

In [28]:
for index, row in flags.iterrows():
    name = row['name']
    popu = row['population']
    print(f' {name} has {popu*100000} population ')

 Afghanistan has 1600000 population
 Albania has 300000 population
 Algeria has 2000000 population
 American-Samoa has 0 population
 Andorra has 0 population
 Angola has 700000 population
 Anguilla has 0 population
 Antigua-Barbuda has 0 population
 Argentina has 2800000 population
 Argentine has 2800000 population
 Australia has 1500000 population
 Austria has 800000 population
 Bahamas has 0 population
 Bahrain has 0 population
 Bangladesh has 9000000 population
 Barbados has 0 population
 Belgium has 1000000 population
 Belize has 0 population
 Benin has 300000 population
 Bermuda has 0 population
 Bhutan has 100000 population
 Bolivia has 600000 population
 Botswana has 100000 population
 Brazil has 11900000 population
 British-Virgin-Isles has 0 population
 Brunei has 0 population
 Bulgaria has 900000 population
 Burkina has 700000 population
 Burma has 3500000 population
 Burundi has 400000 population
 Cameroon has 800000 population
 Canada has 2400000 population
 Cape-Verde-Islands has 0 population
 Cayman-Islands has 0 population
 Central-African-Republic has 200000 population
 Chad has 400000 population
 Chile has 1100000 population
 China has 100800000 population
 Colombia has 2800000 population
 Comorro-Islands has 0 population
 Congo has 200000 population
 Cook-Islands has 0 population
 Costa-Rica has 200000 population
 Cuba has 1000000 population
 Cyprus has 100000 population
 Czechoslovakia has 1500000 population
 Denmark has 500000 population
 Djibouti has 0 population
 Dominica has 0 population
 Dominican-Republic has 600000 population
 Ecuador has 800000 population
 Egypt has 4700000 population
 El-Salvador has 500000 population
 Equatorial-Guinea has 0 population
 Ethiopia has 3100000 population
 Faeroes has 0 population
 Falklands-Malvinas has 0 population
 Fiji has 100000 population
 Finland has 500000 population
 France has 5400000 population
 French-Guiana has 0 population
 French-Polynesia has 0 population
 Gabon has 100000 population
 Gambia has 100000 population
 Germany-DDR has 1700000 population
 Germany-FRG has 6100000 population
 Ghana has 1400000 population
 Gibraltar has 0 population
 Greece has 1000000 population
 Greenland has 0 population
 Grenada has 0 population
 Guam has 0 population
 Guatemala has 800000 population
 Guinea has 600000 population
 Guinea-Bissau has 100000 population
 Guyana has 100000 population
 Haiti has 600000 population
 Honduras has 400000 population
 Hong-Kong has 500000 population
 Hungary has 1100000 population
 Iceland has 0 population
 India has 68400000 population
 Indonesia has 15700000 population
 Iran has 3900000 population
 Iraq has 1400000 population
 Ireland has 300000 population
 Israel has 400000 population
 Italy has 5700000 population
 Ivory-Coast has 700000 population
 Jamaica has 200000 population
 Japan has 11800000 population
 Jordan has 200000 population
 Kampuchea has 600000 population
 Kenya has 1700000 population
 Kiribati has 0 population
 Kuwait has 200000 population
 Laos has 300000 population
 Lebanon has 300000 population
 Lesotho has 100000 population
 Liberia has 100000 population
 Libya has 300000 population
 Liechtenstein has 0 population
 Luxembourg has 0 population
 Malagasy has 900000 population
 Malawi has 600000 population
 Malaysia has 1300000 population
 Maldive-Islands has 0 population
 Mali has 700000 population
 Malta has 0 population
 Marianas has 0 population
 Mauritania has 200000 population
 Mauritius has 100000 population
 Mexico has 7700000 population
 Micronesia has 0 population
 Monaco has 0 population
 Mongolia has 200000 population
 Montserrat has 0 population
 Morocco has 2000000 population
 Mozambique has 1200000 population
 Nauru has 0 population
 Nepal has 1600000 population
 Netherlands has 1400000 population
 Netherlands-Antilles has 0 population
 New-Zealand has 200000 population
 Nicaragua has 300000 population
 Niger has 500000 population
 Nigeria has 5600000 population
 Niue has 0 population
 North-Korea has 1800000 population
 North-Yemen has 900000 population
 Norway has 400000 population
 Oman has 100000 population
 Pakistan has 8400000 population
 Panama has 200000 population
 Papua-New-Guinea has 300000 population
 Parguay has 300000 population
 Peru has 1400000 population
 Philippines has 4800000 population
 Poland has 3600000 population
 Portugal has 1000000 population
 Puerto-Rico has 300000 population
 Qatar has 0 population
 Romania has 2200000 population
 Rwanda has 500000 population
 San-Marino has 0 population
 Sao-Tome has 0 population
 Saudi-Arabia has 900000 population
 Senegal has 600000 population
 Seychelles has 0 population
 Sierra-Leone has 300000 population
 Singapore has 300000 population
 Soloman-Islands has 0 population
 Somalia has 500000 population
 South-Africa has 2900000 population
 South-Korea has 3900000 population
 South-Yemen has 200000 population
 Spain has 3800000 population
 Sri-Lanka has 1500000 population
 St-Helena has 0 population
 St-Kitts-Nevis has 0 population
 St-Lucia has 0 population
 St-Vincent has 0 population
 Sudan has 2000000 population
 Surinam has 0 population
 Swaziland has 100000 population
 Sweden has 800000 population
 Switzerland has 600000 population
 Syria has 1000000 population
 Taiwan has 1800000 population
 Tanzania has 1800000 population
 Thailand has 4900000 population
 Togo has 200000 population
 Tonga has 0 population
 Trinidad-Tobago has 100000 population
 Tunisia has 700000 population
 Turkey has 4500000 population
 Turks-Cocos-Islands has 0 population
 Tuvalu has 0 population
 UAE has 100000 population
 Uganda has 1300000 population
 UK has 5600000 population
 Uruguay has 300000 population
 US-Virgin-Isles has 0 population
 USA has 23100000 population
 USSR has 27400000 population
 Vanuatu has 0 population
 Vatican-City has 0 population
 Venezuela has 1500000 population
 Vietnam has 6000000 population
 Western-Samoa has 0 population
 Yugoslavia has 2200000 population
 Zaire has 2800000 population
 Zambia has 600000 population
 Zimbabwe has 800000 population

In [29]:
flags[flags.area.isna()] #linhas que estao com NaN

Empty DataFrame
Columns: [name, landmass, zone, area, population, language, religion, bars, stripes, colours, red, green, blue, gold, white, black, orange, mainhue, circles, crosses, saltires, quarters, sunstars, crescent, triangle, icon, animate, text, topleft, botright]
Index: []

[0 rows x 30 columns]

In [30]:
print("mediana:", flags['area'].median())

mediana: 111.0

In [31]:
flags['area'].median()

111.0

In [32]:
flags['name'].value_counts()

Afghanistan    1
Sao-Tome       1
New-Zealand    1
Nicaragua      1
Niger          1
              ..
Gibraltar      1
Greece         1
Greenland      1
Grenada        1
Zimbabwe       1
Name: name, Length: 194, dtype: int64

In [33]:
flags

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [35]:
#Boxplot